body {
  margin: 0;
 padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background: url('/public/bg.svg');
  background-size:4rem;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100%;
  background-color: rgba(255, 228, 219, 0.96)
  
}
 